





body{
    
    background-image: url('img/watchdogs.jpg');
    background-size: cover;

}


p {
    color: white;
}


h1 {

    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}
h5{
    color: white;
}

h4{
    color: white;
}